install
workdir
*.exe
build
buildWindows

**/Debug
**/x64
**/.vs
**/*.wast
eosc/eosc_visual_studio/eoscLib.pdb
*.lib
eos_libraries/visual_studio/test.exp
__pycache__
python/Doxy
teos_python/doscs/Makefile
teos_python/teos.json
